* {
  box-sizing: border-box;
}

html {
background-color: fuchsia;
font-family: Arial, Helvetica, sans-serif;
text-align: center;
}


.wrapper {
/*  max-width: 100%;
  margin: 0 auto;
  min-height: 300px;*/
  background-color: aqua;
}

.row {
  width: 90%;
  min-width: 300px;
  padding: 1rem 50;
  min-height: 800px;
  display: flex;
  /*flex-wrap: wrap;*/
  flex-direction: column; /*Achsenrichtung column oder row-reverse.. */
  background-color: hotpink;
  justify-content: center; /*Platzverteilung auf der X-Achse*/
  align-items: stretch; /*Platzverteilung auf der Y-Achse*/
  gap: 10px;
}

.col {
  width: 20%;
  min-width: 300px;
  flex-grow: 1;
  align-items: stretch;
}

@media (min-width: 1000px) {
  .row {display: flex; 
  gap: 10px;
  flex-direction: column;
  margin: auto;
}
}
  
  .row {
    display: flex;
    flex-direction: row;
    margin: auto;
    max-width: 90%;
}