:root{
    --delay: 0.4s ;
    --veroegerung: 0.3s;
} 

*, *::before, *::after {
    box-sizing: border-box;
}
html {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    line-height: 1.4;
    font-size: 100%;
    background-color: #fff;
}
body {
    margin: 0;
}
h1 {
    text-align: center;
    font-size: 1.5rem;
}
.button {
    background-color: #5863f8;
    border: none;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    margin: 0;
    cursor: pointer;
}
.button svg {
    fill: #fff;
    width: 24px;
    height: 24px;
}
input {
    margin: 0;
}

#city {
    padding: 8px;
    border: 1px solid #5863f8;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}
#city:focus {
    outline: none;
}
form {
    display: flex;
    align-items: stretch;
    justify-content: center;
}
.error {
    text-align: center;
    color: red;
    font-size: 80%;
}
.heute {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2rem;
}

.grad::after {
    content:"°";
}
.grad {
    font-weight: 700;
    margin: 0 8px;
}
.schatten {
    filter: drop-shadow(10px 10px 12px rgba(0,0,0.5));

}
.row {
    font-size: 1rem;
    margin: 1rem 1rem 3rem 1rem;
}
.card {
    display: flex;
    align-items: center;
    justify-content: center;
    border-top: 1px solid black;
 /*   padding-top: 20px; */

}
.wetter {
    /*flex: 1 1 auto;*/
    flex-grow: 1;
}
.wochentage {
    min-width: 36px;
}

@media (min-width: 960px) {
    h1 {
        font-size: 3rem;
    }
    .row {
        display: flex;
        flex-direction: row;
        gap: 1rem;
        justify-content: center;
    }
    .card {
        flex-direction: column;
        border: 1px solid black;
        border-radius: 8px;
        width: 20%;
        max-width: 200px;
        /*margin: 0;*/
        transition: all 0.5s ease;
        background-color: #fff;
        position: relative;
        opacity: 0;
        animation: fadein linear var(--delay) 1 normal forwards;
    }
    .card:hover {
        /*background-color: lightgray;*/
        transform: scale(1.1);
        /*-webkit-box-shadow: ;*/
        box-shadow: 5px 5px 10px 5px rgba(0,0,0,0.5);
        z-index: 99;
    }
    .card:first-child {
        animation-delay: var(--delay);
    }
    .card:nth-child(2) {
        animation-delay: calc(var(--delay) * 2);
    }
    .card:nth-child(3) {
        animation-delay: calc(var(--delay) * 3);
    }
    .card:nth-child(4) {
        animation-delay: calc(var(--delay) * 4);
    }
    .card:last-child {
        animation-delay: calc(var(--delay) * 5);
    }
    @keyframes fadein {
        0% {
            transform: translateX(-20%);
            opacity: 0;
        }
        100% {
            transform: translateX(0);
            opacity: 1;
        }
        
    }
}